<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css">
    <meta charset="UTF-8">
    <title>Movie App</title>
    </head>
    <body class="container-fluid">

