<% include ../partials/header %>



<div class="container">
	<nav class="navbar navbar-light bg-light">
		<header>
			<h1>Results Page</h1>
		</header>
		<form class="form-inline" action="/results" method="GET">
			<input class="form-control mr-sm-2" type="text" placeholder="Search Again" name="search" aria-label="Search">
			<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
		</form>
	</nav>


	<div class="jumbotron">
		<!-- refine the json chunk till the Search level. -->
		<% data["results"].forEach(function(movie){ %> 
		<ul>
			<!-- Title and Year of release -->
			<strong><%= movie["title"] %></strong> - 
			<%= movie["release_date"] %> 
		</ul>
		<!-- Poster -->
		<a href="https://www.themoviedb.org/movie/<%= movie["id"]%>"><img src="https://image.tmdb.org/t/p/w185/<%= movie["poster_path"] %>"></a>
		<% }) %>
	</div>
</div>
<% include ../partials/footer %>

