<% include ../partials/header %>

<h1>Search for a Movie Form</h1>

<form action="/results" method="GET">
	<input type="text" placeholder="Search Again" name="search">
	<input type="submit">
</form>


<% include ../partials/footer %>